*
{
	margin: 0px;
	padding: 0px;
	border: none;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FBF9EF;
	padding: 0px 6%;
}

#container
{
	float: left;
}

#header
{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #5D5A53;
	margin-bottom: 10px;
}

#header h1
{
	font-size: 18px;
	float: left;
	background: url(/content/Images/logo.png) no-repeat;
	padding: 45px 0px 5px 0px;
}

#promotion
{
	height: 300px; 
	width: 700px; 
	background: url(/content/Images/home-showcase.png) no-repeat;
}

ul li a
{
	font-size: 16px;
}

#main
{
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
}

ul
{
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}

ul#album-list
{
	list-style: none;
	margin-left: 0px;
}

ul#album-list li
{
	height: 130px;
	width: 100px;
	float: left;
	margin: 10px;
	text-align: center;
}

ul#album-list li a, ul#album-list li .button
{
	font-size: 13px;
	float: left;
}

ul#album-list li a span
{
	color: #9b9993;
	text-decoration: underline;
}

#cart
{
	float: right;
}

#update-message
{
	color: #